<style>
    .form-group{
        margin-bottom:20px;
    }
</style>
<div class="content content-narrow">
    <!-- Forms Row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Bootstrap Forms Validation -->
            <div class="block">
                <div class="block-header">
                    
                    <h1 class="block-title text-center">Thông tin nhà cung cấp</h1>
                </div>
                <div class="block-content block-content-large">
                    <form class="js-validation-bootstrap form-horizontal" action="" method="post">
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="code">Mã NCC</label>
                            <div class="col-md-8">
                                <input type="text" name="code" class="form-control" readonly />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="managerAccount">TK quản lý</label>

                            
                            <div class="col-md-6">
                                <input type="text" name="managerAccount" class="form-control" readonly />
                            </div>
                            <div class="col-sm-2">
                                <div class="btn btn-default form-control">Thay đổi</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Tên NCC</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="name" name="name" placeholder="">
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="nguoiDaiDien">Người đại diện</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="nguoiDaiDien" name="nguoiDaiDien" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="address">Địa chỉ<span class="text-danger"></span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" id="address" name="address"  />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="phone">Số điện thoại</label>
                            <div class="col-md-8">
                                <input class="form-control" id="phone" name="phone"  />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">Email</label>
                            <div class="col-md-8">
                                <input class="form-control" type="email" id="email" name="email" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-sm btn-primary" type="submit">Lưu</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Bootstrap Forms Validation -->
        </div>
        
    </div>
    <!-- END Forms Row -->
    <!-- Terms Modal -->
    <div class="modal fade" id="modal-terms" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-popin">
            <div class="modal-content">
                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary-dark">
                        <ul class="block-options">
                            <li>
                                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Terms &amp; Conditions</h3>
                    </div>
                    <div class="block-content">
                        <h4 class="push-10">1. <strong>General</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
                        <h4 class="push-10">2. <strong>Account</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
                        <h4 class="push-10">3. <strong>Service</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
                        <h4 class="push-10">4. <strong>Payments</strong></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultrices, justo vel imperdiet gravida, urna ligula hendrerit nibh, ac cursus nibh sapien in purus. Mauris tincidunt tincidunt turpis in porta. Integer fermentum tincidunt auctor.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal"><i class="fa fa-check"></i> Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Terms Modal -->
</div>