
<!-- Page Header -->
            <div class="content bg-gray-lighter">
                <div class="row items-push">
                    <div class="col-sm-7">
                        <h1 class="page-heading">
                            DataTables <small>Tables transformed with dynamic features. Powered by DataTables.</small>
                        </h1>
                    </div>
                    <div class="col-sm-5 text-right hidden-xs">
                        <ol class="breadcrumb push-10-t">
                            <li>Tables</li>
                            <li><a class="link-effect" href="">DataTables</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- END Page Header -->
            <!-- Page Content -->
            <div class="content">
                <div class="block" id="danh-sach-sp">
                    <div class="block-header">
                        <h3 class="block-title">Danh sách zone</h3>
                    </div>

                    <div class="block-content">

                        <div class="filter-region filter">

							<div class="form-group">
                                <label class="control-label col-sm-2">Kho mini</label>
                                <div class="col-sm-2">
                                    <select name="khoId" class="js-select2 form-control" data-placeholder="Chọn kho">
                                        <option value="-1">Chọn kho mini</option>
                                        <option ng-repeat="i in mamifoodService.getDSKho()" value="{{i.id}}">{{i.name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Loại zone</label>
                                <div class="col-sm-2">
                                    <select name="zoneTypeId" class="js-select2 form-control" data-placeholder="Chọn quận huyện">
                                        <option value="-1">Chọn loại zone</option>
                                        <option value="1">zone 1</option>
                                        <option value="2">zone 2 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2">Tỉnh</label>
                                <div class="col-sm-2">
                                    <select class="form-control js-select2-search" name="tinhId" ng-model="danhSachZone.tinhId">
                                        <option>Chọn tỉnh</option>
                                        <option ng-repeat="i in mamifoodService.getDSTinh()" value="{{i.id}}">{{i.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">Quận huyện</label>
                                <div class="col-sm-3">

                                    <select class="form-control js-select2-search" name="quanHuyenId" ng-model="danhSachZone.quanHuyenId">
                                        <option>Chọn quận huyện</option>
                                        <option ng-repeat="i in mamifoodService.getDSQuanHuyen()" value="{{i.id}}">{{i.name}}</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <table class="table table-bordered table-striped js-dataTable-danh-sach-sp">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Loại zone</th>
                                    <th>Tên zone</th>
                                    <th>Địa chỉ</th>
                                    <th>Có hub</th>
                                    <th>Free ship</th>
                                    <th>Sẵn sàng</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>

                        <div class="action-region">
                            <div class="form-group">
                                <div class="col-sm-2 align-left">
                                    <select class="form-control action-list">
                                        <option value="freeShip">Free shipping</option>
                                        <option value="unFreeShip">Bỏ free shipping</option>
                                        <option value="hasHub">Có Hub</option>
                                        <option value="noHub">Không Hub</option>
                                        <option value="available">Có sẵn hàng tại kho</option>
                                        <option value="unavailable">Tòa nhà không có kho</option>
                                    </select>
                                </div>
                                <button class="btn  btn-info do-action">Thực hiện</button>
                                <button class="btn btn-success action-button" action="addNew" >Thêm mới</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- END Dynamic Table Full -->

            </div>
            <!-- END Page Content -->


    <script>
        $(function () {
            var config =
             {
                 tableContainer: "#danh-sach-kho-mini",
                 //editorConfig: {
                 //    ajax: "/jsons/sample-product-list.json",
                 //    table: "#danh-sach-sp table",
                 //    idSrc: 'maSp',
                 //    fields: [
                 //        {
                 //            label: "Mã sản phẩm",
                 //            name: "maSp"
                 //        }, {
                 //            label: "Tên sản phẩm",
                 //            name: "tenSanPham"
                 //        }, {
                 //            label: "Danh mục",
                 //            name: "danhMuc",
                 //            type: "select",
                 //            options: (function () {
                 //                return ["TP tươi sống", "Gia vị", "TP chế biến", "Đồ uống", "Đồ ăn vặt", "Dụng cụ nhà bếp"];
                 //            })()
                 //        }, {
                 //            label: "Hiển thị",
                 //            name: "hienThi",
                 //            type: "select",
                 //            options: ["Hiển thị", "Ẩn"]
                 //        }, {
                 //            label: "Trạng thái",
                 //            name: "trangThai",
                 //            type: "select",
                 //            options: ["Còn hàng", "Hết hàng"]
                 //        }, {
                 //            label: "Số lượng",
                 //            name: "soLuong"
                 //        }, {
                 //            label: "Đơn vị",
                 //            name: "donVi"
                 //        },
                 //        {
                 //            label: "Giá bán",
                 //            name: "giaBan"
                 //        }
                 //    ]
                 //},

                 datatableConfig: {
                     dom: "frtlip",
                     serverSide: true,
                     "processing": true,
                     "ajax": function (data, callback, settings) {
                         var filter = {};
                         $(config.tableContainer).find(".filter-region").find("select,input").each(function (index, item) {
                             filter[$(item).attr('name')] = $(item).val();
                         });

                         var query = {
                             start: settings._iDisplayStart,
                             pageSize: settings._iDisplayLength,
                             draw: settings.iDraw,
                             filter: JSON.stringify(filter)
                         };

                         var sort = settings.aaSorting[0];
                         var column = settings.aoColumns[sort[0]];
                         if (column.data != null) {
                             query.sortBy = column.data;
                             query.order = sort[1];
                         }

                         $.ajax({
                             type: "GET",
                             dataType: 'json',
                             data: query,
                             url: "http://mamifood.dev/api/products",
                             crossDomain: true
                         })
                         .done(function (data) {

                             callback(data);
                         }.bind(this))
                         .fail(function (xhr, textStatus, errorThrown) {
                             swal("Lỗi load dữ liệu", textStatus + ":" + xhr.responseText, 'error');
                         });

                     },
                     lengthMenu: [[5, 10, 25, 50], [5, 10, 25, 50]],
                     language: {
                         "url": "assets/js/plugins/datatables/Languages/vietnamese.json"
                     },
                     columns: [
                         {
                             data: null,
                             defaultContent: '',
                             orderable: false,
                             className: 'select-checkbox',
                             width: "10px"
                         },
                         { data: "type" },
                         { data: "name" },
                         { data: "address" },
                         {
                             data: "hasHub",
                             render: function (data, type,full) {
                                 return "<input type='checkbox' id='checkbox-"+full.id+"' "+((data=true)?"checked":"")+" />"
                             }
                         },
                         {
                             data: "isFreeShipping",
                             render: function (data, type, full) {
                                 return "<input type='checkbox' id='checkbox-" + full.id + "' " + ((data = true) ? "checked" : "") + " />"
                             }
                         },
                         {
                             data: "isProductAvailable",
                             render: function (data, type, full) {
                                 return "<input type='checkbox' id='checkbox-" + full.id + "' " + ((data = true) ? "checked" : "") + " />"
                             }
                         },
                         {
                             data: null, defaultContent: 'Chi tiết',
                             orderable: false,
                             render: function (data, type, full, meta) {
                                 return '<a href="#/admin/chi-tiet-zone/' + data.id + '" target="_blank">Chi tiết</a>';
                             }

                         }
                     ]
                     ,
                     "order": [[1, 'asc']]
                     ,
                     select: {
                         style: 'multi',
                         selector: 'td:first-child'
                     }
                 },

                 actions: {
                     freeShipping: {
                         method: function (table) {
                             swal("", "Thực hiện freeShipping", "info");
                         }
                     },
                     unFreeShipping: {
                         method: function (table) {
                             swal("", "Thực hiện unFreeShipping", "info");
                         }
                     },
                     hasHub: {
                         method: function (table) {
                             swal("", "Thực hiện check có hub", "info");
                         }
                     },
                     noHub: {
                         method: function (table) {
                             swal("", "Thực hiện 'không có hub'", "info");
                         }
                     },
                     available: {
                         method: function (table) {
                             swal("", "Thực hiện hàng sẵn có tại kho", "info");
                         }
                     },
                     unavailable: {
                         method: function (table) {
                             swal("", "Thực hiện 'hàng không sẵn có tại kho'", "info");
                         }
                     },
                     addNew: {
                         method: function (table) {
                             table.editor.create();
                             //swal("", "Thực hiện thêm mới zone", "info");
                         }
                     }
                 }
             };
           
            var table = BaseTableDatatables(config);

            window.setTimeout(function () {
                table.init();
            }.bind(this), 1000);

            $(".js-select2-search").select2({});
        });
    </script>

