<!-- Page Content -->
<div class="content">
    <!-- Dynamic Table Full -->
    <div class="row">
        <div class="block col-sm-6">
            <div class="block-header">
                <h3 class="block-title">Quản lý danh mục sản phẩm</h3>
            </div>


            <div class="block-content">
                <div id="tree"></div>
            </div>
        </div>
        <div class="block col-sm-6">
            <div class="block-header">
                <h3 class="block-title">Thông tin</h3>
            </div>
            <div class="block-content">
                <div class="form-horizontal" id="dm-info">
                    <div class="form-group">
                        <!--<div class="animated fadeIn col-sm-8 col-sm-offset-2">
                            <div class="img-container fx-img-zoom-in fx-opt-slide-down">
                                <img class="img-responsive dm-img" src="" alt="">
                                <div class="img-options">
                                    <div class="img-options-content">
                                        <h3 class="font-w400 text-white push-5"></h3>
                                        <a class="btn btn-sm btn-default" href="javascript:changeImage(0)"><i class="fa fa-pencil"></i> Đổi</a>
                                        <a class="btn btn-sm btn-default" href="javascript:deleteImage(0)"><i class="fa fa-times"></i> Xóa</a>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <input id="image" name="image" type="file" class="file-loading" accept="image/*" >
                    </div>
                    <div class="form-group">
                        <label class="control-label ">Mã: </label> 
                        <input type="text" class="form-control dm-code" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tên: </label>
                        <input type="text" class="form-control dm-name" />
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="btn btn-default form-control" onClick="updateDanhMuc()">Cập nhật</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- END Dynamic Table Full -->

</div>
<!-- END Page Content -->

<link href="/assets/js/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" />
<script src="/assets/js/plugins/jstree/dist/jstree.min.js"></script>

<link href="../../../bower_components/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<script src="../../../bower_components/bootstrap-fileinput/js/fileinput.min.js"></script>
<script>

    function updateDanhMuc() {
        swal("", "Cập nhật thông tin cho 1 danh mục", "info");
    }

    $.jstree.defaults.sort = function (a, b) {
        debugger;
        var nodeA = this.get_node(a).original;
        var nodeB = this.get_node(b).original;
        return (nodeA.id > nodeB.id) ? 1 : -1;
    }
    function CreateTreeView(data) {
        TreeView = $('#tree')
        .jstree({
            
            'core': {


                'data': function (node, cb) {
                    //return { 'id': node.id };
                    if (node.id === "#") {
                        cb(data);
                    }
                    else {
                        alert("show folder");
                    }
                },

                'check_callback': function (o, n, p, i, m) {

                    if (m && m.dnd && m.pos !== 'i') { return false; }
                    if (o === "copy_node") {
                        this.get_node(n).text = "Bản sao " + this.get_node(n).text;
                    }
                    if (o === "move_node" || o === "copy_node") {
                        if (this.get_node(n).parent === this.get_node(p).id) { return false; }
                    }

                    return true;
                },
                'themes': {
                    'responsive': false,
                    'variant': 'large',
                    'stripes': true
                }
            },
            'sort': function (a, b) {
                return this.get_type(a) === this.get_type(b) ? (this.get_text(a) > this.get_text(b) ? 1 : -1) : (this.get_type(a) >= this.get_type(b) ? 1 : -1);
            },
            'contextmenu': {
                'items': function (node) {
                    var tmp = $.jstree.defaults.contextmenu.items();

                    delete tmp.create.action;

                    tmp.rename.label = "Đổi tên";

                    var oldRename = tmp.rename.action;
                    tmp.rename.action = function (data) {

                        swal("", "Thực hiện đổi tên sản phẩm", "info");
                        window.setTimeout(function () {
                            oldRename(data);
                        },2000);
                       
                        
                        
                    }

                    var oldRemove = tmp.remove.action;
                    tmp.remove.label = "Xóa";

                    tmp.remove.action = function (data) {
                        swal("", "Thực hiện xóa sản phẩm", "info");
                        window.setTimeout(function () {
                            oldRemove(data)
                        }, 3000);
                    }

                    tmp.ccp.label = "Thao tác";
                    

                    tmp.create.label = "Tạo mới";

                    tmp.create.action = function (data) {
                        oldCreate(data);

                        var inst = $.jstree.reference(data.reference),
                                  obj = inst.get_node(data.reference);
                        swal("", "Thực hiện tạo mới nhóm sản phẩm", "info");

                    }

                    //tmp.create.submenu = {
                    //    "create_folder": {
                    //        "separator_after": true,
                    //        "label": "Folder",
                    //        "action": function (data) {
                    //            var inst = $.jstree.reference(data.reference),
                    //                obj = inst.get_node(data.reference);

                    //        }
                    //    },
                    //    "create_file": {
                    //        "label": "File",
                    //        "action": function (data) {
                    //            var inst = $.jstree.reference(data.reference),
                    //                obj = inst.get_node(data.reference);
                    //            inst.create_node(obj, { type: "file" }, "last", function (new_node) {
                    //                setTimeout(function () { inst.edit(new_node); }, 0);
                    //            });
                    //        }
                    //    }
                    //};

                    return tmp;
                }
            },
            'types': {
                'default': { 'icon': 'folder' },
                'file': { 'valid_children': [], 'icon': 'file' }
            },
            'unique': {
                'duplicate': function (name, counter) {
                    return name + ' ' + counter;
                }
            },
            'plugins': [ 'sort', 'types', 'contextmenu', 'unique', 'wholerow']

        })
        .on('delete_node.jstree', function (e, data) {

            swal("", "Xóa danh mục thành công", "info");
        })
        .on('create_node.jstree', function (e, data) {
            $.get('?operation=create_node', { 'type': data.node.type, 'id': data.node.parent, 'text': data.node.text })
                .done(function (d) {
                    data.instance.set_id(data.node, d.id);
                })
                .fail(function () {
                    data.instance.refresh();
                });
        })
        .on('rename_node.jstree', function (e, data) {
            swal("", "Đổi tên thành công", "info");
        })
        .on('move_node.jstree', function (e, data) {

        })
        .on('copy_node.jstree', function (e, data) {


        })
        .on('paste.jstree', function (e, data) {

            if (data.mode == "copy_node") {
                // CopyFile(data.node[0], data.parent);
                swal("", "Thực hiện sao chép danh mục", "info");
            }

            if (data.mode == "move_node") {
                swal("", "Thực hiện di chuyển danh mục", "info");
            }
        })
        .on('select_node.jstree', function (e, data) {
            //debugger;
            //console.log("Select file: " + data.node);
            var item = data.node.original;

            //$("#dm-info .dm-img").attr("src", item.img);
            initFileInput(item.img);

            $("#dm-info .dm-code").val(item.id);
            $("#dm-info .dm-name").val(item.text);

        })
        .on('changed.jstree', function (e, data) {

        })
        .on("redraw.jstree",function(e,data){
            var selector = '#tree';
            var root = $(selector).jstree(true).get_node("root_anchor")
            $(selector).jstree(true).sort(root, true);
            $(selector).jstree(true).redraw_node(root, true);
        })
    }

    function initFileInput(image) {

        var arrayPreview = [];

        if (image != undefined) {
             arrayPreview.push("<img src='"+image+"' width='150' class='file-preview-image' >")
        }
        
        $("#image").fileinput('destroy');

        $("#image").fileinput({
            uploadUrl: "/file-upload-batch/2",
            autoReplace: true,
            maxFileCount: 1,
            allowedFileExtensions: ["jpg", "png", "gif"],
            initialPreview: arrayPreview,
            initialPreviewConfig: [
                {
                    //caption: 'desert.jpg',
                    width: '500px',
                    url: 'deleteimage',
                    key: 100,
                    extra: {id: 100}
                }
            ],
            browseLabel: "Chọn",
            removeLabel: "Xóa",
        });
    }

    $(document).ready(function () {
           

        $.getJSON("/jsons/danh-muc-san-pham.json", function (data) {
            CreateTreeView(data);
            initFileInput();
        }).error(function (data) {
            alert("lỗi");
        });
    });
</script>