<!-- Page Header -->
            <div class="content bg-gray-lighter">
                <div class="row items-push">
                    <div class="col-sm-7">
                        <h1 class="page-heading">
                            DataTables <small>Tables transformed with dynamic features. Powered by DataTables.</small>
                        </h1>
                    </div>
                    <div class="col-sm-5 text-right hidden-xs">
                        <ol class="breadcrumb push-10-t">
                            <li>Tables</li>
                            <li><a class="link-effect" href="">DataTables</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- END Page Header -->
            <!-- Page Content -->
            <div class="content">

                <!-- Dynamic Table Full -->
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Danh sách sản phẩm</h3>
                    </div>
                   
                    <div class="block-content" id="tao-phieu-nhap">

                        <div class="header-region">
                       
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Trạng thái</label>

                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" value="mới" readonly />
                                        <!--<label class="label label-info">Mới</label>-->
                                    </div>

                                    <div class="col-sm-8 text-right">
                                        <button class="btn">Gửi đơn hàng</button>
                                        <button class="btn">In</button>
                                        <button class="btn">Lưu</button>
                                    </div>
                                </div>
                                   
                            </div>
                   
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Ghi chú</label>
                                    <div class="col-sm-10">
                                        <textarea  class="form-control">Ghi chú</textarea>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Số phiếu</label>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" readonly />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2">Ngày tạo</label>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" readonly />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-sm-2">Người tạo</label>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="text" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                


                                <div class="form-group">
                                    <label class="control-label col-sm-2">Kho mini</label>
                                    <div class="col-sm-2">
                                        <select class="form-control js-select2-search">
                                            <option>Chọn kho mini</option>
                                            <option ng-repeat="i in mamifoodService.getDSKho()" value="{{i.id}}">{{i.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2">Nhà cung cấp</label>
                                    <div class="col-sm-2">
                                        <select class="form-control js-select2-search">
                                            <option>Chọn NCC</option>
                                            <option ng-repeat="i in mamifoodService.getDSNhaCungCap()" value="{{i.id}}">{{i.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-2">Ngày mong muốn</label>
                                    <div class="col-sm-2">
                                        <input class="form-control" type="date" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div  class="filter-region filter form-horizontal">

                               
                        </div>
                        
                        <table class="table table-bordered table-striped js-dataTable-tao-phieu-nhap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>STT</th>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Số lượng</th>
                                    <th>Đơn vị</th>
                                    <th>Ghi chú</th>
                                </tr>
                            </thead>
                        </table>
                        
                        <div class="action-region">
                            <div class="form-group">
                                <div class="col-sm-2 align-left">
                                    <select class="form-control action-list">
                                        <option value="edit">Sửa</option>
                                        <option value="remove">Xóa</option>
                                        
                                    </select>
                                </div>
                                <button class="btn  btn-info do-action">Thực hiện</button>
                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-large">Thêm sản phẩm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Dynamic Table Full -->
     
            </div>
            <!-- END Page Content -->


<!-- Large Modal -->
<div class="modal" id="modal-large" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
         
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-dark">
                    <ul class="block-options">
                        <li>
                            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">Danh sách sản phẩm</h3>
                </div>
                <div class="block-content">
                    <iframe src="/views/chon-san-pham.html" width="100%" height="420" style="border:0"></iframe>
                </div>
            </div>
            
            <div class="modal-footer">
                <!--<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Đóng</button>-->
                <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" onClick="addProducts()">Thêm sản phẩm</button>
            </div>
        </div>
    </div>
</div>
<!-- END Large Modal -->

<script>
       
        //$(function () { BaseTableDatatables.init(); });
        $(function () {
            
            var config = {
                tableContainer: "#tao-phieu-nhap",
                editorConfig: {
                    ajax: "/jsons/ds-hanghoa-trong-phieu-nhap.json",
                    table: "#tao-phieu-nhap .js-dataTable-tao-phieu-nhap",
                    fields: [
                        {
                            label: "Mã sản phẩm",
                            name: "maSp",
                            type: "readonly"
                        }, {
                            label: "Tên sản phẩm",
                            name: "tenSanPham",
                            type: "readonly"
                        }, {
                            label: "Số lượng",
                            name: "soLuong"
                        }, {
                            label: "Đơn vị",
                            name: "donVi",
                            type: "readonly"
                        }, {
                            label: "Ghi chú",
                            name: "ghiChu",
                            type: "textarea"
                        }
                    ]
                },

                datatableConfig: {
                    dom: "frtlp",
                    paging: false,
                    ajax: "/jsons/ds-hanghoa-trong-phieu-nhap.json",

                    //lengthMenu: [[5, 10, 25, 50], [5, 10, 25, 50]],
                    language: {
                        "url": "/assets/js/plugins/datatables/Languages/vietnamese.json"
                    },
                    columns: [
                        {
                            data: null,
                            defaultContent: '',
                            className: 'select-checkbox',
                            orderable: false
                        },
                        {
                            data: null,
                            defaultContent: '-1',
                            render: function (data, type, full, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "maSp" },
                        { data: "tenSanPham" },
                        { data: "soLuong" },
                        { data: "donVi" },
                        { data: "ghiChu",orderable:false }
                    ],
                    "order": [[1, 'asc']],
                    select: {
                        style: 'multi',
                        selector: 'td:first-child'
                    }
                },

                actions: {
                    edit: {
                        title: 'Cập nhật thông tin sản phẩm',
                        method: function (table) {
                            var selected = table.rows({ selected: true });
                            var selectedItems = selected.data();
                            if (selectedItems.length > 0) {

                                table.row(selected.nodes()[0]).edit({ title: 'Cập nhật thông tin sản phẩm' });
                            }
                            else {

                            }
                        }
                    },
                    remove: {
                        confirmText: 'Bạn có chắc chắn muốn xóa sản phẩm này?',
                        title: '',

                        url: '',
                        method: function (table) {
                            if (table.row({ selected: true }).count() == 0) {
                                swal({
                                    title: "Chưa có sản phẩm nào được chọn!",
                                    type: 'warning',
                                    showCloseButton: true,
                                });
                            }
                            else {
                                swal({
                                    title: 'Bạn có chắc chắn muốn xóa sản phẩm này?',
                                    text: "",
                                    type: "warning",
                                    showCancelButton: true,
                                    confirmButtonColor: "#DD6B55",
                                    confirmButtonText: "Đồng ý",
                                    cancelButtonText: "Hủy",
                                    closeOnConfirm: false,
                                    showLoaderOnConfirm: true,
                                },
                                function () {
                                    var selectedItems = table.rows({ selected: true }).data();

                                    var ids = [];
                                    for (var i = 0; i < selectedItems.length; i++) {

                                        ids.push(selectedItems[i].id);
                                    }

                                    $.ajax({
                                        url: "http://mamifood.dev/products/delete",
                                        type: "GET",
                                        dataType: 'json',
                                        data: { ids: ids.join(',') },
                                        crossDomain: true,
                                        success: function (resp) {
                                            swal("Đã xóa!", "Sản phẩm đã xóa thành công", "success");
                                            table.rows(table.rows({ selected: true }).nodes()).remove().draw();
                                        }.bind(this),
                                        error: function (resp) {
                                            swal("Lỗi!", "Có lỗi xảy ra", "error");
                                        }
                                    });
                                });
                            }

                           
                        }

                    },
                    create: {
                        url: '',
                        title: '',
                        method: function (table) {
                            table.row.create();
                        }
                    }
                }
            };

            var table = BaseTableDatatables(
                    config
            );

            window.setTimeout(function () {
                table.init();
            }.bind(this), 500);
            
            $(".js-select2-search").select2({});
        });

        function addProducts() {

            //alert(JSON.stringify());
            var items = window.frames[0].frameElement.contentWindow.getSelectedRows();
            swal("", "Đã thêm "+items.length+" sản phẩm thành công!", "success");
        }
    </script>