<style>
    .form-group {
        margin-bottom: 20px;
    }
</style>
<div class="content content-narrow">
    <!-- Forms Row -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Bootstrap Forms Validation -->
            <div class="block">
                <div class="block-header">
                    <h1 class="block-title text-center">Tạo mới nhà cung cấp</h1>
                </div>
                <div class="block-content block-content-large">
                    <form class="js-validation-bootstrap form-horizontal">

                        <div class="form-group">
                            <label class="col-md-4 control-label">TK quản lý</label>
                            <div class="col-md-8">
                                <button class="btn btn-primary" onClick="selectUser()">Chọn</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" >Tên NCC</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="name" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" >Người đại diện</label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="nguoiDaiDien" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" >Địa chỉ<span class="text-danger"></span></label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" name="address" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" >Số điện thoại</label>
                            <div class="col-md-8">
                                <input class="form-control" name="phone" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" >Email</label>
                            <div class="col-md-8">
                                <input class="form-control" type="email" name="email" placeholder="">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-sm btn-primary" onClick="createNCC()">Tạo mới NCC</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Bootstrap Forms Validation -->
        </div>

    </div>
    <!-- END Forms Row -->

    <!-- Select User Modal -->
    <div class="modal" id="chon-nguoi-dung-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="block block-themed block-transparent remove-margin-b">
                    <div class="block-header bg-primary-dark">
                        <ul class="block-options">
                            <li>
                                <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">Danh sách nhân viên</h3>
                    </div>
                    <div class="block-content">
                        <iframe src="/views/kho-tong/chon-nhan-vien.html" width="100%" height="420" style="border:0"></iframe>
                    </div>
                </div>

                <div class="modal-footer">
                    <!--<button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Đóng</button>-->
                    <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal" onClick="doSelect()">Chọn</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Modal -->

</div>

<script>

    function doSelect() {

        //alert(JSON.stringify());
        var items = window.frames[0].frameElement.contentWindow.getSelectedRows();
        swal("", "Đã chọn " + items.length + " người dùng thành công!", "success");
    }

    function selectUser() {

        $("#chon-nguoi-dung-modal").modal();
        //swal("", "Thực hiện chọn người quản lý ncc", "info");
    }

    function createNCC() {
        swal("", "Thực hiện tạo mới ncc", "info");
    }

</script>